# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db

# Environment
.env
.venv/
venv/
ENV/
*.env

# Streamlit secrets
.streamlit/secrets.toml

# IDE / Editor
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
